//
// Isotope Grids
// --------------------------------------------------

.grid {
	position: relative;

	// Gap width
	.gutter-sizer {
		width: 2.5%;
		@media #{$tablet-port} { width: 4%; }
	}

	// Items
	.grid-item {
		position: relative;
		float: left;
		margin-bottom: 2.8%;
	  @include backface-visibility(hidden);
	  .tile { margin-bottom: 0; }
		@media #{$tablet-port} { margin-bottom: 4%; }
	}

	// Default Isotope Grid
	&.isotope-grid {
		overflow: hidden;
		@include clearfix;

		// 1 Column
		&.col-1 {
			.grid-sizer,
			.grid-item {
				float: none;
				width: 100%;
				margin-bottom: 30px;
			}
		}

		// 2 Columns
		&.col-2 {
			.grid-sizer,
			.grid-item {
				width: 48.75%;
				@media #{$tablet-port} { width: 48%; }
				@media screen and (max-width: 600px) {
					float: none;
					width: 100%;
					margin-bottom: 30px;
				}
			}
		}

		// 3 Columns
		&.col-3 {
			.grid-sizer,
			.grid-item {
				width: ( 100% - 5% ) / 3; // where 5% is double gutter width
				@media #{$tablet-land} { width: 48.75%; }
				@media #{$tablet-port} { width: 48%; }
				@media screen and (max-width: 600px) {
					float: none;
					width: 100%;
					margin-bottom: 30px;
				}
			}
		}

		// 4 Columns
		&.col-4 {
			.grid-sizer,
			.grid-item {
				width: ( 100% - 7.5% ) / 4; // where 7.5% is tripple gutter width
				@media #{$tablet-land} { width: 48.75%; }
				@media #{$tablet-port} { width: 48%; }
				@media screen and (max-width: 600px) {
					float: none;
					width: 100%;
					margin-bottom: 30px;
				}
			}
		}
	}

	//Masonry Grid
	&.isotope-masonry-grid {
		overflow: hidden;
		@include clearfix;

	// Gutter
	.gutter-sizer { width: 1.8%; }

		// Item
		.grid-sizer,
		.grid-item {
			width: ( 100% - 3.6% ) / 3;
			height: 380px;
			margin-bottom: 33px;

			// Double height
			&.h2 { height: 793px; }
			// Double width
			&.w2 { width: (( 100% - 1% ) / 3) * 2; }
		}

	}
}
.container {
	.grid.isotope-masonry-grid {
		.gutter-sizer { width: 2.4%; }
		.grid-sizer,
		.grid-item {
			width: ( 100% - 4.8% ) / 3;
			height: 300px;
			margin-bottom: 33px;

			// Double height
			&.h2 { height: 633px; }
			// Double width
			&.w2 { width: (( 100% - 1% ) / 3) * 2; }
		}
	}
}
@media screen and (min-width: 1350px) {
	.container-fluid .grid {
		.gutter-sizer { width: 1.8%; }
		.grid-item { margin-bottom: 1.8%; }
		&.isotope-grid {
			&.col-1 {
				.grid-sizer,
				.grid-item {
					width: 100%;
					margin-bottom: 30px;
				}
			}
			&.col-2 {
				.grid-sizer,
				.grid-item {
					width: 49.1%;
				}
			}
			&.col-3 {
				.grid-sizer,
				.grid-item {
					width: ( 100% - 3.6% ) / 3; // where 3.6% is double gutter width
				}
			}
			&.col-4 {
				.grid-sizer,
				.grid-item {
					width: ( 100% - 5.4% ) / 4; // where 5.4% is tripple gutter width
				}
			}
		}
	}
}
@media screen and (max-width: 1700px) {
	.grid.isotope-masonry-grid,
	.container .grid.isotope-masonry-grid {
		.grid-item { margin-bottom: 30px; }
	}
}
@media screen and (max-width: 1480px) {
	.grid.isotope-masonry-grid,
	.container .grid.isotope-masonry-grid {
		.grid-sizer,
		.grid-item { width: ( 100% - 4.4% ) / 3; }
		.gutter-sizer { width: 2.2%; }
	}
}
@media #{$desktop} {
	.grid.isotope-masonry-grid {
		.gutter-sizer { width: 2.6%; }
		.grid-sizer,
		.grid-item {
			width: ( 100% - 5.2% ) / 3;
			height: 270px;
			&.h2 { height: 570px; }
		}
	}
	.container .grid.isotope-masonry-grid {
		.grid-item { margin-bottom: 24px; }
	}
	.container-fluid .grid {
		&.isotope-grid.col-4 {
			.gutter-sizer { width: 2%; }
			.grid-item { margin-bottom: 2%; }
			.grid-sizer,
			.grid-item {
				width: ( 100% - 4%) / 3; // where 4% is double gutter width
			}
		}
	}
}
@media #{$tablet-land} {
	.grid.isotope-masonry-grid,
	.container .grid.isotope-masonry-grid {
		.gutter-sizer { width: 3.5%; }
		.grid-sizer,
		.grid-item {
			width: (100% - 3.5%) / 2;
			margin-bottom: 24px;
			height: 260px;
			&.h2 { height: 544px; }
			&.w2 { width: 100%; }
		}
	}
	.container-fluid .grid {
		&.isotope-grid.col-4 {
			.gutter-sizer { width: 3.5%; }
			.grid-item { margin-bottom: 3.5%; }
			.grid-sizer,
			.grid-item {
				width: ( 100% - 3.5%) / 2; // where 4% is double gutter width
			}
		}
	}
}
@media screen and (max-width: 600px) {
	.grid.isotope-masonry-grid,
	.container .grid.isotope-masonry-grid {
		.gutter-sizer { width: 0; }
		.grid-sizer,
		.grid-item { width: 100%; }
	}
	.container-fluid .grid {
		&.isotope-grid.col-4 {
			.gutter-sizer { width: 0px; }
			.grid-sizer,
			.grid-item {
				width: 100%;
				margin-bottom: 30px;
			}
		}
	}
}
@media #{$mobile-land} {
	.grid.isotope-masonry-grid,
	.container .grid.isotope-masonry-grid {
		.grid-item {
			height: 230px;
			&.h2 { height: 460px; }
		}
	}
}

.grid.isotope-grid .grid-item {
	.tile { position: relative; }
}