//
// Intro Section
// --------------------------------------------------
.intro-section {
    position: relative;
    width: 100%;
    padding-top: (($line-height-computed * 5)+ $navbar-min-height);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    .overlay {
        z-index: 1;
        display: block;
        width: 100%;
        height: 100%;
        @include position(absolute, 0 null null 0);
        @include primary-gradient;
    }
    .container,
    .container-fluid,
    .row {
        position: relative;
        z-index: 5;
    }
    .btn {
        @include margin(0);
    }
    &.parallax {
        background-attachment: fixed;
    }
    .inner-shadow {
        display: block;
        z-index: 10;
        @include size(100%, 10px);
        @include position(absolute, null null -10px 0);
        @include box-shadow(0px -5px 25px 0px rgba(0, 0, 0, 0.16));
    }
    @media #{$nav-collapse} {
        padding-top: (($line-height-computed * 3)+ $navbar-min-height);
    }
}

// Intro with Phone Carousel
.phone-carousel {
    max-width: $intro-phone-width;
    padding-top: 20px;
    height: $intro-phone-wrap-height - 10;
    margin: auto;
    overflow: hidden;
    @include user-select(none);
    .phone {
        position: relative;
        z-index: 5;
        width: 100%;
        .inner {
            z-index: 1;
            @include square(100%);
            @include position(absolute, 0 null null 0);
            @include padding(26.5% 11.75% 0 11.75%);
        }
    }
    .owl-controls {
        width: 100%;
        @include position(absolute, -22px null null 0);
    }
    &.light-controls {
        .owl-controls .owl-dots {
            .owl-dot {
                background-color: #fff;
                @include opacity(0.9);
                &.active {
                    background-color: transparent;
                    border-color: #fff;
                }
            }
        }
    }
}

// Disable Parallax for Touch Devices
.touch .intro-section.parallax {
    background-attachment: scroll;
}

// Disable filter for IE9
.no-csstransitions {
    .intro-section .overlay {
        filter: none;
    }
}