//
// Preloader
// --------------------------------------------------
.is-preloader {
    background-color: #fff;
}
.is-preloader.pace-done {
    background-color: $body-bg;
}
.is-preloader> .page-wrapper {
    visibility: hidden;
    @include opacity(0);
    @include transition(all .5s);
}
.pace-done> .page-wrapper {
    visibility: visible;
    @include opacity(1);
}
.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.pace-inactive {
    display: none;
}
.pace .pace-progress {
    background: $brand-default;
    z-index: 2000;
    @include position(fixed, 0 100% null null);
    @include size(100%, 2px);
}
.pace .pace-progress-inner {
    display: block;
    box-shadow: 0 0 10px $brand-default, 0 0 5px $brand-default;
    -webkit-transform: rotate(3deg) translate(0px, -4px);
    -moz-transform: rotate(3deg) translate(0px, -4px);
    -ms-transform: rotate(3deg) translate(0px, -4px);
    -o-transform: rotate(3deg) translate(0px, -4px);
    transform: rotate(3deg) translate(0px, -4px);
    @include opacity(1);
    @include square(100%);
    @include position(absolute, null 0 null null);
}
.pace .pace-activity {
    display: block;
    z-index: 2000;
    border: solid 2px transparent;
    border-top-color: $brand-default;
    border-left-color: $brand-default;
    border-radius: 50%;
    -webkit-animation: pace-spinner 400ms linear infinite;
    -moz-animation: pace-spinner 400ms linear infinite;
    -ms-animation: pace-spinner 400ms linear infinite;
    -o-animation: pace-spinner 400ms linear infinite;
    animation: pace-spinner 400ms linear infinite;
    @include square(40px);
    @include margin(-20px 0 0 -20px);
    @include position(fixed, 50% 50% null null);
}
@-webkit-keyframes pace-spinner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-moz-keyframes pace-spinner {
    0% {
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-o-keyframes pace-spinner {
    0% {
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-ms-keyframes pace-spinner {
    0% {
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes pace-spinner {
    0% {
        transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        transform: rotate(360deg);
    }
}