//
// Shortcodes
// --------------------------------------------------
// Full Width Section
// -------------------------
.fw-section {
    position: relative;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &.bg-white {
        background-color: #fff;
    }
    .overlay {
        z-index: 1;
        display: block;
        width: 100%;
        height: 100%;
        @include primary-gradient;
        @include position(absolute, 0 null null 0);
    }
    .container,
    .container-fluid {
        position: relative;
        z-index: 5;
    }
    &.parallax {
        background-attachment: fixed;
    }
    &.border-top {
        border-top: 1px solid $hr-border;
    }
    &.border-bottom {
        border-bottom: 1px solid $hr-border;
    }
    &.full-width {
        width: 100vw;
        @include margin(null null null -50vw);
        @include position(relative, null null null 50%);
    }
}

#restarter-container .fw-section .container {
    width: auto;
}

// Disable Parallax for Touch Devices
.touch .fw-section.parallax {
    background-attachment: scroll;
}

// Disable filter for IE9
.no-csstransitions {
    .fw-section .overlay {
        filter: none;
    }
}