//
// Social Buttons
// --------------------------------------------------

/* Base class */

.social-bar {
    a {
        display: inline-block;
        font-size: $social-btn-size;
        text-decoration: none;
        margin-right: 16px;
        margin-bottom: 7px;
        @include transition(color .3s);
    }
    &.text-center {
        a {
            margin-left: 8px;
            margin-right: 8px;
        }
    }
    &.text-right {
        a {
            margin-left: 16px;
            margin-right: 0;
        }
    }
}
.text-center {
    .social-bar a {
        margin-left: 8px;
        margin-right: 8px;
    }
}
.text-right {
    .social-bar a {
        margin-left: 16px;
        margin-right: 0;
    }
}

/* Email */

.sb-email {
    color: $brand-default;
    &:hover, &:focus {
        color: $brand-default !important;
    }
}

/* Behance */

.sb-behance {
    color: $brand-default;
    &:hover, &:focus {
        color: #1769ff !important;
    }
}

/* Bitbucket */

.sb-bitbucket {
    color: $brand-default;
    &:hover, &:focus {
        color: #205081 !important;
    }
}

/* CodePen */

.sb-codepen {
    color: $brand-default;
    &:hover, &:focus {
        color: #76daff !important;
    }
}

/* DeviantArt */

.sb-deviantart {
    color: $brand-default;
    &:hover, &:focus {
        color: #4e6252 !important;
    }
}

/* Digg */

.sb-digg {
    color: $brand-default;
    &:hover, &:focus {
        color: #000 !important;
    }
}

/* Dribbble */

.sb-dribbble {
    color: $brand-default;
    &:hover, &:focus {
        color: #ea4c89 !important;
    }
}

/* Dropbox */

.sb-dropbox {
    color: $brand-default;
    &:hover, &:focus {
        color: #007ee5 !important;
    }
}

/* Facebook */

.sb-facebook {
    color: $brand-default;
    &:hover, &:focus {
        color: #3b5998 !important;
    }
}

/* Flickr */

.sb-flickr {
    color: $brand-default;
    &:hover, &:focus {
        color: #0063dc !important;
    }
}

/* Foursquare */

.sb-foursquare {
    color: $brand-default;
    &:hover, &:focus {
        color: #ef4b78 !important;
    }
}

/* GitHub */

.sb-github {
    color: $brand-default;
    &:hover, &:focus {
        color: #4183c4 !important;
    }
}

/* Google+ */

.sb-google-plus {
    color: $brand-default;
    &:hover, &:focus {
        color: #dd4b39 !important;
    }
}

/* Instagram */

.sb-instagram {
    color: $brand-default;
    &:hover, &:focus {
        color: #3f729b !important;
    }
}

/* Jsfiddle */

.sb-jsfiddle {
    color: $brand-default;
    &:hover, &:focus {
        color: #4679bd !important;
    }
}

/* LastFM */

.sb-lastfm {
    color: $brand-default;
    &:hover, &:focus {
        color: #e31b23 !important;
    }
}

/* LinkedIn */

.sb-linkedin {
    color: $brand-default;
    &:hover, &:focus {
        color: #0976b4 !important;
    }
}

/* PayPal */

.sb-paypal {
    color: $brand-default;
    &:hover, &:focus {
        color: #253b80 !important;
    }
}

/* Pinterest */

.sb-pinterest {
    color: $brand-default;
    &:hover, &:focus {
        color: #cc2127 !important;
    }
}

/* Reddit */

.sb-reddit {
    color: $brand-default;
    &:hover, &:focus {
        color: #ff4500 !important;
    }
}

/* Skype */

.sb-skype {
    color: $brand-default;
    &:hover, &:focus {
        color: #00aff0 !important;
    }
}

/* SoundCloud */

.sb-soundcloud {
    color: $brand-default;
    &:hover, &:focus {
        color: #f80 !important;
    }
}

/* Stack Overflow */

.sb-stackoverflow {
    color: $brand-default;
    &:hover, &:focus {
        color: #fe7a15 !important;
    }
}

/* Steam */

.sb-steam {
    color: $brand-default;
    &:hover, &:focus {
        color: #7da10e !important;
    }
}

/* StumbleUpon */

.sb-stumbleupon {
    color: $brand-default;
    &:hover, &:focus {
        color: #eb4924 !important;
    }
}

/* Trello */

.sb-trello {
    color: $brand-default;
    &:hover, &:focus {
        color: #256a92 !important;
    }
}

/* Tumblr */

.sb-tumblr {
    color: $brand-default;
    &:hover, &:focus {
        color: #35465c !important;
    }
}

/* Twitch */

.sb-twitch {
    color: $brand-default;
    &:hover, &:focus {
        color: #6441a5 !important;
    }
}

/* Twitter */

.sb-twitter {
    color: $brand-default;
    &:hover, &:focus {
        color: #55acee !important;
    }
}

/* Vimeo */

.sb-vimeo {
    color: $brand-default;
    &:hover, &:focus {
        color: #1ab7ea !important;
    }
}

/* Vine */

.sb-vine {
    color: $brand-default;
    &:hover, &:focus {
        color: #00b488 !important;
    }
}

/* VKontakte */

.sb-vk {
    color: $brand-default;
    &:hover, &:focus {
        color: #45668e !important;
    }
}

/* WeChat */

.sb-wechat {
    color: $brand-default;
    &:hover, &:focus {
        color: #98d11c !important;
    }
}

/* WordPress */

.sb-wordpress {
    color: $brand-default;
    &:hover, &:focus {
        color: #21759b !important;
    }
}

/* XING */

.sb-xing {
    color: $brand-default;
    &:hover, &:focus {
        color: #026466 !important;
    }
}

/* Yahoo! */

.sb-yahoo {
    color: $brand-default;
    &:hover, &:focus {
        color: #400191 !important;
    }
}

/* Yelp */

.sb-yelp {
    color: $brand-default;
    &:hover, &:focus {
        color: #af0606 !important;
    }
}

/* YouTube */

.sb-youtube {
    color: $brand-default;
    &:hover, &:focus {
        color: #e52d27 !important;
    }
}