//
// Tiles
// --------------------------------------------------
// Base class
.tile {
    width: 100%;
    background-color: $tile-bg;
    @include margin(null null 30px null);
    @include box-shadow(0px 1px 2px 0px rgba(0, 0, 0, 0.1));
    .tile-body {
        @include padding($tile-padding);
    }
    // Icon list inside tile
    .list-icon {
        @include margin(null null 0 null);
    }
    &.tile-transparent {
        max-width: $side-nav-max-width;
        background: none;
        @include box-shadow(none);
        .tile-body {
            @include padding($tile-padding 0);
        }
    }
    a {
        text-decoration: none;
    }
    // Form inside tile
    > form {
        padding: 30px 22px 25px 22px;
        h1,
        h2,
        h3,
        h4,
        h5 {
            @include margin(null null floor($line-height-computed / 2) null);
        }
    }
    // Tile with icon
    &.tile-with-icon {
        text-align: center;
        .tile-body {
            @include padding(null null 25px null);
        }
        i {
            display: block;
            font-size: $tile-icon-size;
            color: $headings-color;
            @include margin(6px auto 18px auto);
        }
        h3,
        h4 {
            font-size: $font-size-h4;
            &:after {
                display: block;
                content: "";
                background-color: $headings-color;
                @include size(40px, 1px);
                @include margin(floor($line-height-computed / 2) auto);
            }
        }
        p {
            @include margin(null null floor($line-height-computed / 2) null);
        }
    }
}

// Gallery Tile
.gallery-tile {
    display: block;
    overflow: hidden;
    @include square(100%);
    @include position(absolute, 0 null null 0);
    &:focus,
    &:active {
        outline: none;
    }
    .image {
        z-index: 1;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        @include square(100%);
        @include position(absolute, 0 null null 0);
        @include transform(scale(1));
        @include transition(all .7s);
    }
    &:before {
        display: block;
        z-index: 2;
        content: "";
        @include opacity(0);
        @include square(100%);
        @include position(absolute, 0 null null 0);
        @include primary-gradient;
        @include transition(opacity .4s);
    }
    .icon {
        z-index: 5;
        text-align: center;
        margin-top: -(floor($tile-gal-icon-circle / 2));
        @include size(100%, $tile-gal-icon-circle);
        @include position(absolute, 50% null null 0);
        @include transform(scale(0));
        @include transition(all .4s);
        > i {
            display: inline-block;
            line-height: $tile-gal-icon-circle;
            font-size: $tile-icon-size;
            color: $tile-gal-icon-color;
            background-color: $tile-gal-icon-bg;
            border-radius: 50%;
            @include square($tile-gal-icon-circle);
        }
    }
    &:hover {
        .image {
            @include transform(scale(1.15));
        }
        .icon {
            @include transform(scale(1));
        }
        &:before {
            @include opacity($tile-overlay-opacity);
        }
    }
}