//
// Tiles
// --------------------------------------------------
// Base class
.tile {
    width: 100%;
    background-color: $tile-bg;
    @include margin(null null 30px null);
    @include box-shadow(0px 1px 2px 0px rgba(0, 0, 0, 0.1));
    .tile-body {
        @include padding($tile-padding);
    }
    // Icon list inside tile
    .list-icon {
        @include margin(null null 0 null);
    }
    &.tile-transparent {
        max-width: $side-nav-max-width;
        background: none;
        @include box-shadow(none);
        .tile-body {
            @include padding($tile-padding 0);
        }
    }
    a {
        text-decoration: none;
    }
    // Form inside tile
    > form {
        padding: 30px 22px 25px 22px;
        h1,
        h2,
        h3,
        h4,
        h5 {
            @include margin(null null floor($line-height-computed / 2) null);
        }
    }
    // Tile with icon
    &.tile-with-icon {
        text-align: center;
        .tile-body {
            @include padding(null null 25px null);
        }
        i {
            display: block;
            font-size: $tile-icon-size;
            color: $headings-color;
            @include margin(6px auto 18px auto);
        }
        h3,
        h4 {
            font-size: $font-size-h4;
            &:after {
                display: block;
                content: "";
                background-color: $headings-color;
                @include size(40px, 1px);
                @include margin(floor($line-height-computed / 2) auto);
            }
        }
        p {
            @include margin(null null floor($line-height-computed / 2) null);
        }
    }
}